{
  "mcpServers": {
    "dir-mcp-server": {
      "command": "__DIRCTL_PATH__",
      "args": [
        "mcp",
        "serve"
      ],
      "env": {
        "OASF_API_VALIDATION_SCHEMA_URL": "https://schema.oasf.outshift.com",
        "DIRECTORY_CLIENT_AUTH_MODE": "insecure"
      }
    }
  },
  "model": "azure:gpt-4o",
  "max-steps": 10
}
