http:
  enabled: true
  replicaCount: 1

  image:
    repository: nginx
    pullPolicy: IfNotPresent
    tag: "stable-alpine"

  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

  livenessProbe:
    httpGet:
      path: /.well-known/jwks.json
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3

dns:
  enabled: true
  replicaCount: 1

  image:
    repository: coredns/coredns
    pullPolicy: IfNotPresent
    tag: "1.14.0"

  service:
    type: ClusterIP
    port: 53
    targetPort: 1053

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

  # CoreDNS configuration
  config:
    domain: "agntcy.test"
    records:
      - name: "dir-pub-key.agntcy.test."
        type: "TXT"
        ttl: 3600
        value: '"<PUBLIC_KEY_HERE>"'
    health:
      enabled: true
      port: 8080

  livenessProbe:
    httpGet:
      path: /health
      port: health
      scheme: HTTP
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
