http:
  enabled: true
  replicaCount: 1

  image:
    repository: nginx
    pullPolicy: IfNotPresent
    tag: "stable-alpine"

  service:
    type: ClusterIP
    port: 80
    targetPort: 8080

  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

  livenessProbe:
    httpGet:
      path: /.well-known/jwks.json
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
