name: dir

services:
  apiserver:
    build:
      context: ../../
      dockerfile: server/Dockerfile
    env_file:
      - ./apiserver.env
    ports:
      - 8888:8888
    depends_on:
      - zot
      - postgres
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: grpc-health-probe -addr=127.0.0.1:8888 || exit 1
      interval: 10s
      retries: 60
      start_period: 10s

  reconciler:
    build:
      context: ../../
      dockerfile: reconciler/Dockerfile
    env_file:
      - ./reconciler.env
    depends_on:
      - zot
      - postgres
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure

  zot:
    image: ghcr.io/project-zot/zot:v2.1.14
    ports:
      - 5555:5000
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: curl -f http://localhost:5000/v2/ || exit 1
      interval: 5s
      retries: 60
      start_period: 15s

  postgres:
    image: postgres:15.5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: directory
    ports:
      - 5432:5432
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: pg_isready -U dir -d dir || exit 1
      interval: 10s
      retries: 60
      start_period: 10s

networks:
  default:
    name: dir-network
