name: dir

services:
  apiserver:
    build:
      context: ../../
      dockerfile: server/Dockerfile
    privileged: true
    pid: "host"
    user: root
    volumes:
      # Docker Desktop's containerd socket inside the VM
      - /run/containerd/containerd.sock:/run/containerd/containerd.sock
      # Also mount Docker's containerd socket
      - /var/run/docker/containerd/containerd.sock:/var/run/docker/containerd/containerd.sock
    env_file:
      - ./apiserver.env
    ports:
      - 8888:8888
    depends_on:
      - zot
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: grpc-health-probe -addr=127.0.0.1:8888 || exit 1
      interval: 10s
      retries: 60
      start_period: 10s

  zot:
    image: ghcr.io/project-zot/zot:v2.1.14
    ports:
      - 5555:5000
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: curl -f http://localhost:5000/v2/ || exit 1
      interval: 5s
      retries: 60
      start_period: 15s

networks:
  default:
    name: dir-network
