{{/*
Copyright AGNTCY Contributors (https://github.com/agntcy)
SPDX-License-Identifier: Apache-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "envoy-authz.fullname" . }}-envoy-config
  labels:
    {{- include "envoy-authz.envoyLabels" . | nindent 4 }}
data:
  envoy.yaml: |
    node:
      id: "{{ include "envoy-authz.fullname" . }}-envoy"
      cluster: "{{ .Release.Namespace }}"
    
    {{- if .Values.envoy.admin.enabled }}
    admin:
      address:
        socket_address:
          address: 0.0.0.0
          port_value: {{ .Values.envoy.admin.port }}
    {{- end }}
    
    static_resources:
      listeners:
        - name: main_listener
          address:
            socket_address:
              address: 0.0.0.0
              port_value: 8080
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: ingress_http
                    codec_type: AUTO
                    http2_protocol_options: {}
                    access_log:
                      - name: envoy.access_loggers.stdout
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: backend
                          domains: ["*"]
                          routes:
                            # Health check - no auth
                            - match:
                                path: "/healthz"
                              direct_response:
                                status: 200
                                body:
                                  inline_string: '{"status":"healthy"}'
                              typed_per_filter_config:
                                envoy.filters.http.ext_authz:
                                  "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthzPerRoute
                                  disabled: true
                            # All other requests - require auth
                            - match:
                                prefix: "/"
                              route:
                                cluster: directory_backend
                                timeout: {{ .Values.envoy.backend.timeout }}
                    http_filters:
                      # External authorization filter
                      - name: envoy.filters.http.ext_authz
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
                          transport_api_version: V3
                          grpc_service:
                            envoy_grpc:
                              cluster_name: ext_authz
                            timeout: 5s
                          failure_mode_allow: false
                      # Router filter (must be last)
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      
      clusters:
        # ExtAuthz service
        - name: ext_authz
          type: STRICT_DNS
          connect_timeout: 1s
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          load_assignment:
            cluster_name: ext_authz
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ include "envoy-authz.fullname" . }}-authz
                          port_value: {{ .Values.authServer.service.port }}
        
        # Directory backend
        - name: directory_backend
          type: STRICT_DNS
          connect_timeout: 1s
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          load_assignment:
            cluster_name: directory_backend
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ .Values.envoy.backend.address }}
                          port_value: {{ .Values.envoy.backend.port }}
          {{- if .Values.envoy.spiffe.enabled }}
          # SPIFFE mTLS configuration
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                tls_certificate_sds_secret_configs:
                - name: "spiffe://{{ .Values.envoy.spiffe.trustDomain | default "example.org" }}/ns/{{ .Release.Namespace }}/sa/{{ include "envoy-authz.envoyServiceAccountName" . }}"
                  sds_config:
                    api_config_source:
                      api_type: GRPC
                      grpc_services:
                      - envoy_grpc:
                          cluster_name: spiffe_agent
        
        # SPIRE agent cluster (for SDS)
        - name: spiffe_agent
          type: STATIC
          connect_timeout: 1s
          http2_protocol_options: {}
          load_assignment:
            cluster_name: spiffe_agent
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        pipe:
                          path: /run/spire/agent-sockets/api.sock
          {{- end }}
