{{/*
Copyright AGNTCY Contributors (https://github.com/agntcy)
SPDX-License-Identifier: Apache-2.0
*/}}

apiVersion: v1
kind: Service
metadata:
  name: {{ include "envoy-authz.fullname" . }}-authz
  labels:
    {{- include "envoy-authz.authzLabels" . | nindent 4 }}
  {{- with .Values.authServer.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.authServer.service.type }}
  ports:
  - port: {{ .Values.authServer.service.port }}
    targetPort: grpc
    protocol: TCP
    name: grpc
  selector:
    {{- include "envoy-authz.authzSelector" . | nindent 4 }}
