# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  server.config.yml: |
    {{- $config := deepCopy .Values.config }}
    {{- /* Dynamically set OCI registry address and repository name */ -}}
    {{- if and (hasKey $config "store") (hasKey $config.store "oci") }}
    {{- $_ := set $config.store.oci "registry_address" (include "chart.oci.registryAddress" .) }}
    {{- $repoName := include "chart.oci.repositoryName" . }}
    {{- if $repoName }}
    {{- $_ := set $config.store.oci "repository_name" $repoName }}
    {{- end }}
    {{- end }}
    {{- if .Values.metrics }}
    {{- $metricsConfig := dict "enabled" .Values.metrics.enabled "address" (printf ":%d" (.Values.metrics.port | int)) }}
    {{- $_ := set $config "metrics" $metricsConfig }}
    {{- end }}
    {{- /* Database configuration */ -}}
    {{- $dbConfig := dict "db_type" .Values.database.type }}
    {{- if eq .Values.database.type "sqlite" }}
    {{- $sqliteConfig := dict "db_path" .Values.database.sqlite.dbPath }}
    {{- $_ := set $dbConfig "sqlite" $sqliteConfig }}
    {{- else if eq .Values.database.type "postgres" }}
    {{- $pgConfig := dict }}
    {{- if .Values.database.postgres.host }}
    {{- $_ := set $pgConfig "host" .Values.database.postgres.host }}
    {{- end }}
    {{- if .Values.database.postgres.port }}
    {{- $_ := set $pgConfig "port" (.Values.database.postgres.port | int) }}
    {{- end }}
    {{- /* Use helper to derive database name from postgresql subchart when enabled */ -}}
    {{- $_ := set $pgConfig "database" (include "chart.postgres.database" .) }}
    {{- $_ := set $dbConfig "postgres" $pgConfig }}
    {{- end }}
    {{- $_ := set $config "database" $dbConfig }}
    {{- $config | toYaml | nindent 4 }}

  authz_policies.csv: |
    {{- if .Values.config.authz.enforcer_policy_csv }}
    {{- .Values.config.authz.enforcer_policy_csv | nindent 4}}
    {{- end }}
