# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  server.config.yml: |
    {{- $config := deepCopy .Values.config }}
    {{- if .Values.metrics }}
    {{- $metricsConfig := dict "enabled" .Values.metrics.enabled "address" (printf ":%d" (.Values.metrics.port | int)) }}
    {{- $_ := set $config "metrics" $metricsConfig }}
    {{- end }}
    {{- $config | toYaml | nindent 4 }}
