# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  server.config.yml: |
    {{- $config := deepCopy .Values.config }}
    {{- /* Dynamically set OCI registry address and repository name */ -}}
    {{- if and (hasKey $config "store") (hasKey $config.store "oci") }}
    {{- $_ := set $config.store.oci "registry_address" (include "chart.oci.registryAddress" .) }}
    {{- $repoName := include "chart.oci.repositoryName" . }}
    {{- if $repoName }}
    {{- $_ := set $config.store.oci "repository_name" $repoName }}
    {{- end }}
    {{- end }}
    {{- /* Dynamically set PostgreSQL host */ -}}
    {{- if hasKey $config "database" }}
    {{- if not (hasKey $config.database "postgres") }}
    {{- $_ := set $config.database "postgres" dict }}
    {{- end }}
    {{- $_ := set $config.database.postgres "host" (include "chart.postgres.host" .) }}
    {{- end }}
    {{- if .Values.metrics }}
    {{- $metricsConfig := dict "enabled" .Values.metrics.enabled "address" (printf ":%d" (.Values.metrics.port | int)) }}
    {{- $_ := set $config "metrics" $metricsConfig }}
    {{- end }}
    {{- $config | toYaml | nindent 4 }}

  authz_policies.csv: |
    {{- if .Values.authz_policies_csv }}
    {{- .Values.authz_policies_csv | nindent 4}}
    {{- end }}

  reconciler.config.yml: |
    {{- $reconcilerConfig := deepCopy .Values.reconciler.config }}
    {{- /* Dynamically set local registry address and repository name */ -}}
    {{- if hasKey $reconcilerConfig "local_registry" }}
    {{- $_ := set $reconcilerConfig.local_registry "registry_address" (include "chart.oci.registryAddress" .) }}
    {{- $repoName := include "chart.oci.repositoryName" . }}
    {{- if $repoName }}
    {{- $_ := set $reconcilerConfig.local_registry "repository_name" $repoName }}
    {{- end }}
    {{- end }}
    {{- /* Dynamically set PostgreSQL host */ -}}
    {{- if hasKey $reconcilerConfig "database" }}
    {{- if not (hasKey $reconcilerConfig.database "postgres") }}
    {{- $_ := set $reconcilerConfig.database "postgres" dict }}
    {{- end }}
    {{- $_ := set $reconcilerConfig.database.postgres "host" (include "chart.postgres.host" .) }}
    {{- end }}
    {{- if hasKey $reconcilerConfig "regsync" }}
    {{- $_ := set $reconcilerConfig.regsync "authn" (deepCopy .Values.config.authn) }}
    {{- end }}
    {{- $reconcilerConfig | toYaml | nindent 4 }}
