# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

name: Demo - DIR

on:
  workflow_dispatch:
    inputs:
      image_version:
        required: true
        type: string
        default: v1.0.0-rc.4
        description: "dirctl version to use"
      server_addr:
        required: true
        type: string
        default: dev.gateway.ads.outshift.io:443
        description: "server address to use"

permissions:
  id-token: write
  contents: read

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup dirctl
        uses: ./.github/actions/setup-dirctl
        with:
          version: ${{ inputs.image_version }}

      - name: Validate record
        uses: ./.github/actions/validate-record
        with:
          record_paths: e2e/shared/testdata/record_100.json

      - name: Push record
        id: push
        uses: ./.github/actions/push-record
        with:
          record_paths: e2e/shared/testdata/record_100.json
          server_addr: ${{ inputs.server_addr }}
          github_token: ${{ secrets.DIR_DEMO_WORKFLOW_PAT }}

      - name: Sign record (OIDC)
        uses: ./.github/actions/sign-record
        with:
          cids: ${{ steps.push.outputs.cids }}
          oidc_client_id: https://github.com/${{ github.repository }}/.github/workflows/demo-dir.yaml@${{ github.ref }}
          server_addr: ${{ inputs.server_addr }}
          github_token: ${{ secrets.DIR_DEMO_WORKFLOW_PAT }}

      - name: Publish record
        uses: ./.github/actions/publish-record
        with:
          cids: ${{ steps.push.outputs.cids }}
          server_addr: ${{ inputs.server_addr }}
          github_token: ${{ secrets.DIR_DEMO_WORKFLOW_PAT }}

      - name: Search for record
        env:
          SERVER_ADDR: ${{ inputs.server_addr }}
          GITHUB_TOKEN: ${{ secrets.DIR_DEMO_WORKFLOW_PAT }}
        run: dirctl search --name "burger_seller_agent" --server-addr="$SERVER_ADDR" --github-token="$GITHUB_TOKEN"

      - name: Verify record
        env:
          SERVER_ADDR: ${{ inputs.server_addr }}
          GITHUB_TOKEN: ${{ secrets.DIR_DEMO_WORKFLOW_PAT }}
        run: |
          CID=$(echo '${{ steps.push.outputs.cids }}' | jq -r '.[]')
          dirctl verify "$CID" --server-addr="$SERVER_ADDR" --github-token="$GITHUB_TOKEN"
