# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

name: Release SDK

on:
  workflow_dispatch:
    inputs:
      javascript-release:
        required: false
        type: boolean
        description: "Make a javascript SDK release."
        default: false
      python-release:
        required: false
        type: boolean
        description: "Make a python SDK release."
        default: false
  workflow_call:
    inputs:
      javascript-release:
        required: false
        type: boolean
        description: "Make a javascript SDK release."
        default: false
      python-release:
        required: false
        type: boolean
        description: "Make a python SDK release."
        default: false
    secrets:
      PYPI_API_TOKEN:
        description: "PyPI API token for publishing Python SDK"
        required: true

permissions:
  contents: read

jobs:
  python:
    name: Python
    if: ${{ inputs.python-release == true || inputs.python-release == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Taskfile
        shell: bash
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin

      - name: Install deps
        shell: bash
        run: |
          task deps

      - name: Build the Python package
        run: |
          task sdk:build:python

      - name: Publish the Python SDK
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          task sdk:release:python

  javascript:
    name: JavaScript
    if: ${{ inputs.javascript-release == true || inputs.javascript-release == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # Required for npm OIDC trusted publishing
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Taskfile
        shell: bash
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24.x"
          registry-url: https://registry.npmjs.org/
          scope: "@agntcy"

      - name: Install deps
        shell: bash
        run: |
          task deps

      - name: Build the Javascript package
        run: |
          task sdk:deps:javascript
          task sdk:build:javascript

      - name: Publish the Javascript SDK
        run: |
          task sdk:release:javascript
